@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .dyslexic-font {
    font-family: "OpenDyslexic", sans-serif;
  }
  .high-contrast {
    @apply bg-black text-white;
  }
  .high-contrast-post {
    @apply bg-gray-900 text-white;
  }
}